<div class="row justify-content-center">
    <hr />
    <div class="col-8">
        <h5 class="text-center">Info 2</h5>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti nobis voluptatum deleniti? Inventore rem ex recusandae sunt maxime quis odit dolores perspiciatis impedit, eligendi sapiente sint tempora explicabo officia placeat.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae obcaecati quis neque dolores, in blanditiis consequatur et corrupti necessitatibus tempora porro delectus at eum non! Minus voluptates fuga animi iure?</p>
    </div>
</div>