<div class="row justify-content-center">
    <hr />
    <div class="col-8">
        <h5 class="text-center">Info 1</h5>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti nobis voluptatum deleniti? Inventore rem ex recusandae sunt maxime quis odit dolores perspiciatis impedit, eligendi sapiente sint tempora explicabo officia placeat.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis tenetur, deleniti quisquam totam repellendus libero laboriosam possimus ex eos quia saepe inventore! Id, eius modi! Accusantium praesentium tempore omnis minus.</p>
    </div>
</div>